<ion-header>
  <ion-toolbar>
    <ion-title>alugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Buscar Imóveis"></ion-searchbar>

    <ion-card *ngFor="let imovel of imoveis">
      <img [src]="imovel.img" alt="">
      <ion-card-content>
        <ion-row class="ion-margin-bottom">
          <ion-col size="auto" class="ion-no-padding">
            <ion-button fill="clear" color="danger" (click)="imovel.like = !imovel.like">
              <ion-icon [class.jump-animation]="imovel.like" slot="icon-only"
                [name]="imovel.like ? 'heart' : 'heart-outline'">
              </ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto" class="ion-no-padding">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto" class="ion-no-padding" style="margin-left: auto">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="bookmark"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <p> {{imovel.nome}}<br>
                  <small>{{imovel.bairro}}</small>
              </p>
            </ion-col>
            <ion-col size="auto" class="ion-no-padding" style="margin-left: auto">   
              <ion-text color="primary">
                <h1 class="card-valor">{{ imovel.valor | currency:'BRL' }}</h1>
              </ion-text>
            </ion-col>
          </ion-row>
        
      </ion-card-content>
    </ion-card>
  </ion-content>
