<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title color="primary">
     Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Siga-nos nas redes sociais!</ion-list-header>
    <ion-item lines="none">
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>@alugaFacil</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="logo-linkedin" slot="start"></ion-icon>
      <ion-label>Aluga Facil</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
      <ion-label>+55 (11) 95848-8495</ion-label>
    </ion-item>

  </ion-list>
</ion-content>