<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title color="secondary">
      Anunciar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item>
    <ion-label position="floating">Nome </ion-label>
    <ion-input type="text" [(ngModel)]="imovel.nome"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Url Imagem</ion-label>
    <ion-input type="text" [(ngModel)]="imovel.img"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor </ion-label>
    <ion-input type="number" [(ngModel)]="imovel.valor"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CEP </ion-label>
    <ion-input type="text" [(ngModel)]="imovel.cep"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Logadouro </ion-label>
    <ion-input type="text" [(ngModel)]="imovel.logradouro"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cidade </ion-label>
    <ion-input type="text" [(ngModel)]="imovel.cidade"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Estado </ion-label>
    <ion-input type="text" [(ngModel)]="imovel.estado"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Numero </ion-label>
    <ion-input type="number" [(ngModel)]="imovel.numero"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Bairro </ion-label>
    <ion-input type="text" [(ngModel)]="imovel.bairro"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Metros Quadrados </ion-label>
    <ion-input type="number" [(ngModel)]="imovel.m2"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quartos Disponíveis </ion-label>
    <ion-input type="text" [(ngModel)]="imovel.numeroQuarto"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Vagas Disponíveis </ion-label>
    <ion-input type="text" [(ngModel)]="imovel.numeroVagas"> </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="save()">
    <ion-icon slot="start" name="save-outline"></ion-icon>
    Salvar
  </ion-button>

</ion-list>